.root {
	-fx-background-color: #03A9F4;
	-fx-font-family: "Helvetica";
}

#title {
	-fx-font-size: 32px;
	-fx-font-weight: bolder;
	-fx-fill: #FFFFFF;
	-fx-font-smoothing-type: gray;
}

#copyright {
	-fx-font-size:16px;
	-fx-font-weight:bold;
	-fx-fill: #FFFFFF;
	-fx-font-smoothing-type: gray;
}

#button {
	-fx-text-fill: #03A9F4;
	-fx-background-color: #FFFFFF;
	-fx-padding: 10px 15px;
	-fx-font-size: 16px;
	-fx-font-smoothing-type: gray;
	-fx-font-weight: bolder;
	-fx-border-radius: 2px;
}

#textfield {
	-fx-font-size:16px;
	-fx-text-fill:#03A9F4;
	-fx-font-weight: bolder;
}